* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  font-size: 18px;
}

.header {
  background-image: linear-gradient(180deg, #c4b6fd, #93acfc);
}

.nav-link {
  font-weight: 500;
}

.icons {
  height: 32px;
  width: 32px;
  margin-bottom: 16px;
  background-color: #ffffff;
  padding: 6px;
}
